
@{
    ViewData["Title"] = "LoginRegister";
}
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<style>
    html {
        height: 100%;
    }

    body {
        margin: 0;
        padding: inherit;
        font-family: sans-serif;
        background: linear-gradient(45deg,hotpink,green,blue, lime,white);
        animation: gradient 8s ease infinite;
        background-size: 400% 400%;
        height: 100vh;
    }

    /*@@keyframes gradient {
            0%

        {
            background-position: 0% 50%;
        }

        50% {
            background-position: 100% 50%;
        }

        100% {
            background-position: 0% 50%;
        }

        }*/

    div {
        position: absolute;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        justify-content: center;
        align-items: center;
    }

    .login-box {
        position: absolute;
        top: 45%;
        left: 50%;
        width: 400px;
        height: auto;
        padding: 40px;
        /* transform: translate(-50%, -50%); */
        margin-left: -140px;
        margin-top: -300px;
        background: rgba(0,0,0,0);
        box-sizing: border-box;
        box-shadow: 0 15px 25px rgba(0,0,0,.6);
        border-radius: 10px;
    }

        .login-box h2 {
            margin: 0 0 30px;
            padding: 0;
            color: #fff;
            text-align: center;
        }

        .login-box .user-box {
            position: relative;
        }

            .login-box .user-box input {
                width: 100%;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                margin-bottom: 30px;
                border: none;
                border-bottom: 1px solid #fff;
                outline: none;
                background: transparent;
            }

            .login-box .user-box label {
                position: absolute;
                top: 0;
                left: 0;
                padding: 10px 0;
                font-size: 16px;
                color: #fff;
                pointer-events: none;
                transition: .5s;
            }

            .login-box .user-box input:focus ~ label,
            .login-box .user-box input:valid ~ label {
                top: -20px;
                left: 0;
                color: #03e9f4;
                font-size: 12px;
            }

        .login-box form a {
            position: relative;
            display: inline-block;
            padding: 10px 20px;
            color: #03e9f4;
            font-size: 16px;
            text-decoration: none;
            text-transform: uppercase;
            overflow: hidden;
            transition: .5s;
            margin-top: 40px;
            letter-spacing: 4px
        }

        .login-box a:hover {
            background: #03e9f4;
            color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
        }

        .login-box a span {
            position: absolute;
            display: block;
        }

            .login-box a span:nth-child(1) {
                top: 0;
                left: -100%;
                width: 100%;
                height: 2px;
                background: linear-gradient(90deg, transparent, #03e9f4);
                animation: btn-anim1 1s linear infinite;
            }

    @@keyframes btn-anim1 {
        0% {
            left: -100%;
        }

        50%, 100% {
            left: 100%;
        }
    }

    .login-box a span:nth-child(2) {
        top: -100%;
        right: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(180deg, transparent, #03e9f4);
        animation: btn-anim2 1s linear infinite;
        animation-delay: .25s
    }

    @@keyframes btn-anim2 {
        0% {
            top: -100%;
        }

        50%, 100% {
            top: 100%;
        }
    }

    .login-box a span:nth-child(3) {
        bottom: 0;
        right: -100%;
        width: 100%;
        height: 2px;
        background: linear-gradient(270deg, transparent, #03e9f4);
        animation: btn-anim3 1s linear infinite;
        animation-delay: .5s
    }

    @@keyframes btn-anim3 {
        0% {
            right: -100%;
        }

        50%, 100% {
            right: 100%;
        }
    }

    #login {
        transform-style: preserve-3d;
        transition: .5s ease-in-out;
    }

    #register {
        transform-style: preserve-3d;
        transition: .5s ease-in-out;
        transform: rotateY(180deg);
    }

    .login-box a span:nth-child(4) {
        bottom: -100%;
        left: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(360deg, transparent, #03e9f4);
        animation: btn-anim4 1s linear infinite;
        animation-delay: .75s
    }

    .card {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: transparent;
        border: 0px;
    }

    .btn {
        border: none;
        color: #03e9f4;
        background: none;
        font-size: 13px;
        margin-top: -3px;
    }

        .btn:hover {
            cursor: pointer;
        }

    @@keyframes btn-anim4 {
        0% {
            bottom: -100%;
        }

        50%, 100% {
            bottom: 100%;
        }
    }

    @@import 'https://fonts.googleapis.com/css?family=Roboto';

    .side-menu {
        z-index: 1;
        font-family: 'Roboto', sans-serif;
        position: fixed;
        top: 0;
        left: 0;
        margin: 0;
        padding: 0;
        height: 100%;
        width: 60px;
        list-style-type: none;
        background: linear-gradient(green,lime,green,white);
        overflow: hidden;
        transition: width .3s;
    }

        .side-menu:hover {
            width: 300px;
        }

        .side-menu li {
            width: 300px;
        }

            .side-menu li span {
                font-size: 1rem;
                margin: 20px 30px 0 22px;
            }

            .side-menu li a {
                display: block;
                font-size: .9rem;
                text-decoration: none;
                color: #FFF;
                height: 60px;
            }

                .side-menu li a:hover {
                    background: #14081d;
                    display: block;
                }
</style>
<ul class="side-menu" onmouseover="showOs()" onmouseout="hideOs()">
    <center><h1 id="OS">OS</h1></center>
    @if (ViewBag.User != null)
    {
        @if (ViewBag.User.Id == 1)
        {
            <form method="get" style="padding:0; margin:0;">
            <li><a asp-controller="AdminPanel" asp-action="ProductList"><span class="fa fa-code"></span>Admin Panel</a></li>
            </form>
        }
        <form method="get" style="padding:0; margin:0;">
        <li><a asp-controller="Home" asp-action="Index"><span class="fa fa-shopping-bag"></span>Shop</a></li>
        </form>
        <form method="get" style="padding:0; margin:0;">
        <li><a asp-controller="Cart" asp-action="CartList"><span class="fa fa-shopping-cart"></span>Cart</a></li>
        </form>
        <form method="get" style="padding:0; margin:0;">
        <li><a asp-controller="Home" asp-action="logout"><span class="fa fa-sign-out"></span>Logout</a></li>
        </form>
    }
    else
    {
        <form method="get" style="padding:0; margin:0;">
        <li><a asp-controller="Home" asp-action="Index"><span class="fa fa-shopping-bag"></span>Shop</a></li>
        </form>
        <form method="get" style="padding:0; margin:0;">
        <li><a asp-action="LoginRegister"><span class="fa fa-user"></span>Register/Login</a></li>
        </form>
    }
</ul>
<script>
    function hideOs() {
        document.getElementById("OS").innerText = "OS";
    }
    function showOs() {
        document.getElementById("OS").innerText = "Online Shop";
    }
</script>
<body id="bd">
    <center><h1 style="color: white; margin-top: 20px;">Online Shop</h1></center>
    <div class="card">
        <div class="login-box" id="login" style="margin-top:-240px; margin-left:-200px;">
            <h2>Login</h2>
            <form method="post" action="Login">
                @*asp-route-id="@Model.user.Id"*@
                <div class="user-box">
                    <input type="text" name="email" required="">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input type="password" name="password" required="">
                    <label>Password</label>
                </div>
                <label style="color: white; font-size: 13px;">Don't have an account?<button class="btn" onclick="GoRegister()">Register</button></label>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <button type="submit" style="background-color:transparent; border:none; font-size:20px; color: #03e9f4;">Submit</button>
                </a>
            </form>
        </div>

        <div class="login-box" id="register" style=" margin-left:-200px;">
            <h2>Register</h2>
            <form method="post" asp-action="Authentication">
                <div class="user-box">
                    <input type="text" name="Email" required="">
                    <label>Email</label>
                </div>
                <div class="user-box">
                    <input type="text" name="FullName" required="">
                    <label>Full Name</label>
                </div>
                <div class="user-box">
                    <input type="text" name="PhoneNumber" required="">
                    <label>Phone Number</label>
                </div>
                <div class="user-box">
                    <input type="password" name="Password" required="">
                    <label>Password</label>
                </div>
                <div class="user-box">
                    <input type="password" name="ConfPassword" required="">
                    <label>Confirm Password</label>
                </div>
                <label style="color: white; font-size: 13px;">Already have an account?<button class="btn" onclick="GoLogin()">Login</button></label>
                <a href="#">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <button type="submit" style="background-color:transparent; border:none; font-size:20px; color: #03e9f4;">Submit</button>
                </a>
            </form>
        </div>
    </div>
    <script>
        var login = document.getElementById("login").style;
        var register = document.getElementById("register").style;
        // var body = document.getElementById("bd").style;
        function GoRegister() {
            login.transform = "rotateY(180deg)";
            register.transform = "rotateY(0deg)";
            // body.background = "linear-gradient(#243b55, #E43915)";
        }
        function GoLogin() {
            login.transform = "rotateY(0deg)";
            register.transform = "rotateY(180deg)";
            // body.background = "linear-gradient(#E43915, #243b55)";
        }
    </script>
</body>